<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DCExec.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <DCExec.My.MySettings>
            <setting name="PauseAppOnExec" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseProgramOnExec" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastUsedFile" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorPrefFg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TotalExecuted" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastRun" serializeAs="String">
                <value />
            </setting>
            <setting name="ApplicationExecuted" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoExecOnDrop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExecOnStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColorPrefBg" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoExecOnNewFileOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DontShowWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastUsedArgument" serializeAs="String">
                <value />
            </setting>
        </DCExec.My.MySettings>
    </userSettings>
</configuration>
